[submodule "external/shared-types"]
	path = external/shared-types
	url = git@github.com:anpdgovbr/shared-types.git
	branch = main
[submodule "external/docker-infra-pg"]
	path = external/docker-infra-pg
	url = git@github.com:anpdgovbr/docker-infra-pg.git
	branch = main

[submodule "external/rbac"]
	path = external/rbac
	url = git@github.com:anpdgovbr/rbac.git
	branch = main
