# Registry interno ANPD
registry=https://npm.anpd.gov.br
@anpdgovbr:registry=https://npm.anpd.gov.br

# Configurações workspace
shared-workspace-lockfile=false
link-workspace-packages=true
auto-install-peers=true
strict-peer-dependencies=false

# Suprimir warnings npm
loglevel=error
