/* Remove os estilos do GovBR DS para inputs, selects e botões do MUI */
.mui-reset .br-input,
.mui-reset .br-select,
.mui-reset .br-button {
  all: unset !important; /* Remove TODAS as propriedades herdadas do GovBR DS */
}

/* Ajuste específico para inputs e selects do MUI */
.mui-reset input,
.mui-reset select {
  font-family: inherit !important;
  border: 1px solid #ccc !important;
  padding: 8px !important;
  border-radius: 4px !important;
}

/* Estiliza corretamente os Labels */
.mui-reset label {
  font-weight: normal !important;
}
